<!--<p class="error message js-hidden"> i18n "js_required" </p> -->
<!--<p class="contact-submitted status message hidden"> i18n "contact_submitted" </p> -->
<!--<p class="contact-error error message hidden"> i18n "contact_error" </p> -->

<form class="contact-form" action="https://submit-form.com/9Pg62tO6u" method="post" accept-charset="UTF-8">
  <label for="edit-name"> i18n "contact_name" </label> <br>
  <input type="text" id="edit-name" name="name" placeholder="contact_name_placeholder" required autofocus> <br>
  <br>
  
  <label for="edit-mail"> i18n "contact_mail" </label> <br>
  <input type="email" id="edit-mail" name="email" placeholder="contact_mail_placeholder" required> <br>
  <br>
  
  <label for="edit-subject"> i18n "contact_subject" </label> <br>
  <input type="text" id="edit-subject" name="subject" placeholder="contact_subject_placeholder" required> <br>
  <br>

  <label for="edit-message"> i18n "contact_message" </label> <br>
  <textarea id="edit-message" name="message" rows="5" placeholder="contact_message_placeholder" required></textarea>
  <br>
  <br>
  <div class="cf-turnstile" data-sitekey="0x4AAAAAAA6lHxQVynZeDu1q"></div>
  <br>
  <button type="submit" name="submit"> i18n "contact_submit" </button>
</form>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>